
body{
	padding:0;
	border:0;
	background-image:url('../Multimedia/Images/Backgrounds/background.jpg');
	background-size:cover;
	background-attachment:fixed;
	font-family:Monsterrat;
}

/*																					 Title 																						*/

div.title{
	width:100%;
	text-align:left;
	padding:2%;
	background-color:white;
	position:relative;
	font-size:150%;
	background-color:rgba(0,0,0,0.7);
	color:white;
}
.diff{
	font-family:BeforeRain;
	color: #b38600;
	font-weight:bold;
}

.title img{
	position:abosolute;
	right:0;
	float:left;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */

/*																					 Footer 																						*/
div.footer{
	width:100%;
	text-align:center;
	padding:2%;
	background-color:black;
	z-index:99;
}

div.footerLogo{
	width:10%;
	display:inline-block;
	margin-right:20%;
	
}

div.footerCopyright{
	width:20%;
	display:inline-block;
	font-size:1vw;
	color:white;
	margin-right:20%;
	
}

div.footerMedsos{
	width:20%;
	display:inline-block;

}

.footerPC{
	width:100%;
}

.flogo{
	width:15%;
	margin-right:15%;
	transition:all 1s;
}

.flogo:hover{
	transform:scale(1.5);
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
div.slideshow{

	margin-top:3%;
	background-color:rgba(255,255,255,0.0);
	margin-bottom:3%;
	margin-left:12%;
}

/*																					 Content 																						*/
div.content{
	background-color:white;
	padding:2%;
	font-size:100%;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/*																					 Search Box 	 																				*/
div.searchContainer{
	background-color:#80ff80;
	padding:1%;
	font-size:100%;
}

#searchIcon{
	width:10px;
	display:inline-block;
}

#searchBox{
	display:inline-block;
	margin-right:1%;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */
/*																					 navigation 																					*/
.logo{
	width:100%;
	transition:all 1s;
}

.text{
	width:100%;
	transition:all 1s;
	position:0 100%;
	opacity:0.0;
}
	/*PC*/
div.navbar{
	width:5%;
	margin-top:3%;
	position:fixed;
}

.navbar img{
	display:inline-block;
}

.navbar ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:rgba(100,100,100,0.8);
}

.navbar ul li{
	float:left;
	margin-right:1%;
}

.navbar ul li a{
	padding:2%;
	display:block;
	text-decoration:none;
}


.navbar ul li a:hover .logo{
	transform:translate(0,-100%);
	opacity:0.0;
}

.navbar ul li a:hover .text{
	transform:translate(0,-200%);
	opacity:1.0;
}

	/*iPad*/
div.containeriPad{
	position:fixed;
	bottom:0;
}
div.naviPad{
	width:100%;
	background-color:rgb(100,100,100);
	display:flex;
	flex-wrap:wrap;
}	

div.division{
	width:5%;
	display:inline;
	margin-right:10%;
	margin-left:10%;
	padding-top:2%;
}

.division:hover .logo{
		transform:translate(0,-100%);
		opacity:0.0;
}

.division:hover .text{
	transform:translate(0,-200%);
	opacity:1.0;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------- */

/*																	RESPONSIVE																			*/

@media only screen and (min-width: 961px){
	body{
		padding:0;
		margin:0;
	}
	
	.containeriPad{
		display:none;
	}
	
	.content{
		width:90%;
		margin-left:10%;
		margin-bottom:5%;
	}
	
	.searchContainer{
		width:90%;
		margin-left:10%;
		margin-bottom:2%;
		margin-top:5%;
	}
	.slideshow{
		width:90%;
		margin-left:10%;
	}
	
	.title img{
		width:200px;
	}
}
@media only screen and (min-width: 401px) and (max-width: 960px){
	body{
		margin:0;
		padding:0;
	}
	.navbar{
		display:none;
	}
	
	.containeriPad{
		display:block;
	}
	
	.footer{
		display:none;
	}
	.content{
		width:100%;
		margin-left:0%;
		margin-bottom:11%;
	}
	
	.searchContainer{
		width:100%;
		margin-left:0;
		margin-bottom:4%;
	}
	.slideshow{
		width:100%;
		margin-left:0%;
	}
	
	.title img{
		width:200px;
	}
}

@media only screen and (max-width:400px){
	body{
		margin:0;
		padding:0;
	}
	.navbar{
		display:none;
	}
	
	.containeriPad{
		display:block;
	}
	
	.footer{
		display:none;
	}
	.slideshow{
		display:none;
	}
	.content{
		width:100%;
		margin-left:0%;
		margin-top:10%;
		margin-bottom:15%;
	}
	
	.searchContainer{
		margin-top:1%;
		margin-bottom:1%;
	}
	.slideshow{
		width:100%;
		margin-left:0%;
	}
	
	.title img{
		width:200px;
	}
}