@font-face{
	src:url('Montserrat-Regular.otf');
	font-family:Monsterrat;
}

@font-face{
	src:url('BeforeTheRain.ttf');
	font-family:BeforeRain;
}

@font-face{
	src:url('Reey-Regular.woff');
	font-family:ReeyRegular;
}

@font-face{
	src:url('AlexBrush-Regular.woff');
	font-family:AlexBrush;
}